body{
  margin: 0px;
  padding: 0px;
}
header{
  background-color: aqua;
  height: 151px;
}
.logo{
  float: left;
}
img{
  height: 97px;
    position: relative;
    top: 16px;
    left: 15px;
    transform:rotate(-20deg);
}
.logoname{
  POSITION: relative;
    left: 6px;
    top: 9px;
    font-family: 'Baloo 2', cursive;
    text-shadow: 2px 1px red;
    font-size: 19px;
    padding: 0px;
    margin: 0px;
}
.navigation{
  /* border: 2px solid black; */
  width: 717px;
  position: relative;
  top: 65px;
  left: 21px;
  overflow: hidden;
  
}
.nav{
  float: left;
  padding: 20px;
  font-family: 'Baloo 2', cursive;
  font-size: 30px;
  text-decoration: none;
}
.nav:hover{
  color: rgba(194, 73, 36, 0.603);
}
.right{
  /* border: 2px solid black; */
  float: right;
  position: relative;
  bottom: 70px;
  right: 10px;
}
.buttons{
  padding: 5px;
    margin: 5px;
    width: 88px;
    height: 36px;
    border-radius: 59px;
    font-family: 'Baloo 2', cursive;
}
.buttons:hover{
  background-color: rgb(25, 107, 69);
  color: rgb(243, 126, 218);
  height: 42px;
  width: 90;
}
input[type="email"]{
  border-radius: 5px;
  height: 20px;
  font-family: 'Baloo 2', cursive;
}
.mainbg{
  background-image: url('image/gym.jpg');
  height: 821px;
}
h2{
  
  position: relative;
  top: 5px;
  text-align: center;
  color: #ff0aca;
  margin: 0px;
  font-family: 'Baloo 2', cursive;
  font-size: 35px;
}
.form{
  position: relative;
    top: 101px;
    left: 4px;
    width: 540px;
    height: 522px;
    margin: 30px;
    background-color: rgb(26 26 160 / 39%);
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: brown;
}
h3{
  position: relative;
  top: 70px;
  text-align: center;
  font-size: 32px;
  color: #ff3c00;
}
.formcdtl{
  position: relative;
  top: 50px;
  left: 16px;
  padding: 8px 121px;
    margin: 10px;
  text-align: center;
  border-radius: 15px;
  font-family: 'Baloo 2', cursive;
  background-color:#c9f2ffba;
  color: #ff0aca;
  font-size: 20px;
  
  }
  #inputdown{
    
    position: relative;
    left: 73px;
    padding: 5px 170px;
    font-family: 'Baloo 2', cursive;
  }
  #inputdown:hover{
    color: chocolate;
    background-color: rgb(248, 190, 238);
  }
  h4{
    position: relative;
    top: 93PX;
    text-align: center;
    font-size: xxx-large;
    color: bisque;
  }
  span{
  color: deepskyblue;
  }
